header{
    text-align: center;
    background-color: yellow;
    border-block-color: black;
    margin-bottom: 200px;
    margin-right: 100px;
    margin-left: 100px;
}


h2#curso.curso{
    text-align: center;
    border: 4px double yellow;
    background-color: blueviolet;
}

.curso {
    text-align: center;
    border-bottom: 2px solid blueviolet;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 5px;
}

.descricao{
    text-align: justify;
    margin-bottom: 70px;
    padding: 10px;
}

footer{
    text-align: center;
    margin-top: 300px;
    padding: 5px;
}